.spinner{
    align-content: center;
    display: flex;
    justify-content: center;
}
.spinner-content{
    text-align: center;
    height: 100%;
}
.alert-devices{
    
    background: #c62828;
    color: white;
}