<div class="container">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onLogin()">

        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="Correo electrónico"  formControlName="username">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard" >
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña" formControlName="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>

        <button type="submit" mat-raised-button color="primary">Iniciar
            sesión
        </button>
        <p>
            ¿Olvidaste tu contraseña?
            <a href="recovery-password" (click)="authCompService.showRecoveryPassword()">Recuperar contraseña</a>
        </p>
        <p>No tienes cuenta</p>
        <a mat-raised-button color="accent" [routerLink]="'create-account'">Crear nueva cuenta</a>
    </form>
    

</div>