<app-header></app-header>
<app-banner *ngIf="homeModel != null" [bannerList]="homeModel.banners"></app-banner>
<div class="container">
    <mat-card>

        <h1>Análisis semanal</h1>

        <p>
            Informe del Grupo Spurrier fundado en 1971 por Walter Spurrier, que ha asesorado a empresas, organizaciones
            sociales, grupos de relaciones públicas, estudios jurídicos y agencias de gobierno, en la toma de decisiones
            económicas y políticas a través de su Análisis Semanal. Su Director es Walter Spurrier Baquerizo y su Editor
            es
            Alberto Acosta Burneo.
        </p>
        <h2>Características:</h2>

        <p>Análisis Semanal trata semanalmente un tema de actualidad de relevancia política y económica.
            Ofrece una actualización de la legislación más importante promulgada en los últimos días en el Registro
            Oficial.
            Entrega información breve de acontecimientos y opiniones que podrían pasar desapercibidas.
            Dos veces al mes, entrega una actualización de indicadores económicos y del índice CAMEL de Bancos.
        </p>

        <h2>Beneficios</h2>
        <p>Los suscriptores a Análisis Semanal poseen descuentos en todos los servicios que ofrece Grupo Spurrier:</p>
        <ul>
            <li>Consultoría Económica</li>
            <li>Conferencias abiertas al público sobre Escenarios Político-Económicos</li>
            <li>Planificación Estratégica</li>
            <li>Gestión empresarial</li>
            <li>Investigación de mercados</li>
            <li>Capacitaciones</li>
            <li>Análisis de competencia</li>
            <li>Por cada suscripción se entrega gratis una clave virtual para poder acceder a nuestro informe Análisis
                Semanal
                por internet, además del CAMEL e indicadores económicos.</li>
        </ul>
        <h2>Capacitaciones</h2>
        <p>Seminarios abiertos en temas de actualidad, claves para el desarrollo de la actividad empresarial.
            Detección de necesidades de capacitación y diseño de planes integrales de capacitación ajustados a las
            necesidades del cliente.
            Capacitaciones in-house:
        </p>
        <h3>Desarrollo humano</h3>
        <ul>
            <li>Formación de formadores </li>
            <li>Liderazgo empresarial: habilidades gerenciales por competencias</li>
            <li>Outdoor training: jornadas de integración y motivación</li>
            <li>Comunicación efectiva y trabajo en equipo
            </li>
            <li>Manejo de crisis
            </li>
        </ul>

        <h3>Finanzas</h3>
        <ul>
            <li>Evaluación financiera de proyectos</li>
            <li>Elaboración de presupuestos para no financieros</li>
            <li>Presupuestación en base a escenarios macroeconómicos</li>
            <li>Finanzas corporativas</li>
            <li>Planificación estratégica e indicadores de gestión</li>
        </ul>
        <h3>Ventas y relación con el cliente</h3>
        <ul>
            <li>Liderando equipos de ventas exitosas</li>
            <li>Construyendo su equipo de ventas</li>
            <li>Desarrollo de habilidades esenciales de venta</li>
            <li>Atención al cliente</li>
            <li>Técnicas de negociación y resolución de conflictos</li>

        </ul>
        <h4>Manejo y mejoramiento de negocios</h4>
        <ul>
            <li>Elaboración de plan de negocios</li>
            <li></li>
        </ul>















        Innovación, crecimiento y diversificación
        Propuesta de valor
        Técnicas de investigación de mercados
        Desarrollo de modelos de negocios
    </mat-card>


</div>

<app-footer></app-footer>