<app-header></app-header>
<div class="container">
    <h1>Contáctanos</h1>
    <mat-card>
        <a href="https://www.google.com/maps/@-2.0978631,-79.8750708,18.6z">
            <img width="100%" class="img-responsive" src="assets/mapa.png">
        </a>

        <br>
        <br>
        <br>
        <p>Plaza Lagos, Edificio Mirador, oficina 2-1 Km. 6.5 Vía Puntilla - Samborondón</p>
        <p>PBX 04 5009343</p>
        <p>Celular 09 2226414</p>
        <p>E-mail: <a href="mailto:info@grupospurrier.com">info@grupospurrier.com</a> - <a
                href="mailto:info@ecuadoranalysis.com">info@ecuadoranalysis.com</a></p>
    </mat-card>

</div>
<app-footer></app-footer>