<app-header></app-header>
<app-banner *ngIf="homeModel != null" [bannerList]="homeModel.banners"></app-banner>
<div class="container">
    <h1>Nuestro staff</h1>
    <mat-card>
        <h2>Walter Spurrier Baquerizo.</h2>
        <h4>wspurrier@grupospurrier.com</h4>
        <p>Analista Económico graduado de un Masterado de Ciencias Políticas en la Universidad de California en los
            Angeles (UCLA). Director del informe económico político Análisis Semanal (y su versión gemela en Inglés
            “Weekly Analysis”) y Presidente de Grupo Spurrier. Editorialista de Diario El Comercio y El Universo.
            Adicionalmente realiza asesorías, charlas, consultorías y estudios en temas económicos y políticos de
            realidad ecuatoriana. En la actualidad es asesor de la Cámara de Industrias y Regente de la Universidad Casa
            Grande.
        </p>
    </mat-card>
    <mat-card>
        <h2>Alberto Acosta Burneo </h2>
        <h4>aacosta@grupospurrier.com</h4>
        <p>
            Master en Economía, becario Fulbright, graduado de la Universidad de Nueva York (NYU) y MBA con amplia
            experiencia en investigación económica, banca y negocios. Editor de la publicación económico política
            Análisis Semanal y su versión gemela en inglés Weekly Analysis.
            Consultor en evaluación del impacto de las políticas públicas en las actividades empresariales, potenciación
            de emprendimientos, estudios de mercado y asesorías económicas.
            Conferencista sobre escenarios macro-económicos del Ecuador y docente de pregrado y posgrado varias
            universidades del país.
            Editorialista y miembro del consejo editorial de revista Vistazo. Participa regularmente de programas de
            análisis económico en medios de comunicación.
        </p>
    </mat-card>
    <mat-card>
        <h2>Diana Spurrier Ortega </h2>
        <h4>dspurrier@grupospurrier.com</h4>
        <p>
            Licenciada en Publicidad, Relaciones Públicas y Master en Comunicación Política graduada de Emerson College
            en Boston. Tiene experiencia tanto en el sector público como privado. Actualmente Gerente de Negocios de
            Grupo Spurrier.

        </p>
    </mat-card>
</div>
<app-footer></app-footer>