<app-header></app-header>

<div class="contenedor">
    <div *ngIf="isEmail()">

        <form [formGroup]="formGroup" (ngSubmit)="onActualizarContrasenas()" class="container-login">
            <h2>Recuperar contraseña olivdada</h2>
            <p>Enviaremos un correo electrónico con un código de verificación</p>
            <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="Correo electrónico" formControlName="usuario">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>


            <button type="submit" mat-raised-button color="primary" [disabled]="!formGroup.valid">Recuperar
                contraseña</button>
        </form>
    </div>

    <div class="pincode" *ngIf="isPinCode()" class="container-login">
        <h2>Recuperar contraseña</h2>
        <p>Ingrese el código de 4 dígitos, ingréselos en los siguientes casilleros.</p>
        <code-input [isCodeHidden]="true" [codeLength]="4" (codeChanged)="onCodeChanged($event)"
            (codeCompleted)="onCodeCompleted($event)">
        </code-input>
    </div>
    <div class="change-password" *ngIf="isChangePassword()" class="container-login">

        <h2>Cambiar contraseña</h2>
        <p>Ya falta poco, ingrese su nueva contraseña.</p>
        <form [formGroup]="formChangePasswordGroup" (ngSubmit)="onChangePassword()">
            <div fxLayout="column">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput type="password" formControlName="nuevoContrasena" placeholder="Nueva contraseña">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput type="password" formControlName="validadorContrasena"
                        placeholder="Nueva contraseña">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
            </div>

            <button type="submit" mat-raised-button color="primary"
                [disabled]="!formChangePasswordGroup.valid">Actualizar contraseña</button>
        </form>
    </div>
</div>