<div class="contenedor">
    <form [formGroup]="formGroup" (ngSubmit)="onActualizarContrasenas()" class="container-login">
        <h2>Cambiar contraseña</h2>
            <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="Correo electrónico" formControlName="usuario">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
      
       
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña actual" formControlName="contrasenaActual">
                <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña nueva" formControlName="nuevaContrasena">
                <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña nueva" formControlName="validacionContrasena">
                <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
       

        <button type="submit" mat-raised-button color="primary" [disabled]="!formGroup.valid">Cambiar contraseña</button>
    </form>
</div>