<div class="container">
  <div class="wizzard">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="fiscalFormGroup">
        <ng-template matStepLabel>{{stepLabel2}}</ng-template>
        <div class="panelinterno">
          <mat-radio-group class="radio-group" aria-labelledby="seleccione tipo de cuenta" [(ngModel)]="business.person_type">
            <mat-radio-button class="radio-btn" selected value="B">Empresa</mat-radio-button>
            <mat-radio-button class="radio-btn" value="P">Persona</mat-radio-button>
          </mat-radio-group>
         
          <mat-form-field class="example-form-field">
            <mat-label *ngIf="business.person_type == 'B'">Ruc</mat-label>
            <mat-label *ngIf="business.person_type == 'P'">Cédula, Ruc o Pasaporte</mat-label>
            <input matInput type="text" [(ngModel)]="business.identification">
            <button mat-button *ngIf="business.identification" matSuffix mat-icon-button aria-label="Clear"
              (click)="business.identification=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label *ngIf="business.person_type == 'B'">Razón Social</mat-label>
            <mat-label *ngIf="business.person_type == 'P'">Nombres</mat-label>
            <input matInput type="text" [(ngModel)]="business.name">
            <button mat-button *ngIf="business.identification" matSuffix mat-icon-button aria-label="Clear"
              (click)="business.name=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Seleccione Pais</mat-label>
            <mat-select [(value)]="business.country">
              <mat-option value="{{c}}" *ngFor="let c of countryList">{{c.name}}</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>Ciudad</mat-label>
            <input matInput type="text" [(ngModel)]="business.city">
            <button mat-button *ngIf="business.city" matSuffix mat-icon-button aria-label="Clear"
              (click)="business.city=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>Teléfono</mat-label>
            <input matInput type="text" [(ngModel)]="business.phone">
            <button mat-button *ngIf="business.phone" matSuffix mat-icon-button aria-label="Clear"
              (click)="business.phone=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>Dirección</mat-label>
            <input matInput type="text" [(ngModel)]="business.address">
            <button mat-button *ngIf="business.address" matSuffix mat-icon-button aria-label="Clear"
              (click)="business.address=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button mat-raised-button matStepperNext color="primary">Continuar</button>
        </div>
        
      </mat-step>




      <mat-step [stepControl]="userFormGroup">
        <ng-template matStepLabel>{{stepLabel3}}</ng-template>
        <div class="panelinterno">
          <mat-form-field class="example-form-field">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide_pass1 ? 'password' : 'text'">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="hide_pass1 = !hide_pass1">
              <mat-icon>{{hide_pass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>Repetir Contraseña</mat-label>
            <input matInput [type]="hide_pass2 ? 'password' : 'text'">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="hide_pass2 = !hide_pass1">
              <mat-icon>{{hide_pass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <mat-checkbox>Acepto los Términos y Condiciones</mat-checkbox>
  <button mat-raised-button color="primary">Crear Cuenta</button>
</div>