
<form [formGroup]="formGroup">
<h2 mat-dialog-title>Delete all elements?</h2>

    <mat-dialog-content>
        

            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Número</mat-label>
                    <input matInput placeholder="Correo electrónico"  formControlName="username">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard" >
                    <mat-label>Nombre</mat-label>
                    <input type="password" matInput placeholder="Contraseña" formControlName="password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard" >
                    <mat-label>CVC</mat-label>
                    <input type="password" matInput placeholder="Contraseña" formControlName="password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard" >
                    <mat-label>Mes</mat-label>
                    <input type="password" matInput placeholder="Contraseña" formControlName="password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard" >
                    <mat-label>Año</mat-label>
                    <input type="password" matInput placeholder="Contraseña" formControlName="password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
    
    </mat-dialog-content>
    <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="true">Delete</button>
</mat-dialog-actions>
</form>