<app-header></app-header>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div  style="height: 100%; flex: 1;"></div>
        <li *ngFor="let item of rates">
            {{item.label}}
        </li>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
          <app-cardlist>
          </app-cardlist>
    </mat-drawer-content>


  </mat-drawer-container>