<div *ngIf="homeModel!=null">
    <app-banner [bannerList]="homeModel.banners"></app-banner>

    <div class="container">
        <div>
            <h1 class="title-destacados">Últimas ediciones</h1>
            <div fxLayout="row wrap" fxLayout.xs="column">
                <div *ngFor="let item of homeModel.last_editions" fxFlex.xs="100%" fxFlex="33%"
                    style="padding-left: 5px; padding-right:5px;">
                    <app-edition-card-item [edition]="item" [style.padding-top.px]="20"></app-edition-card-item>
                </div>
            </div>

            <div *ngFor="let el of homeModel.edition_by_category" class="edition-by-category">
                <h2 class="title-destacados">{{el.category.name}} </h2>


                <div fxLayout="row wrap">
                    <div *ngFor="let item of el.editions" fxFlex.xs="100%" fxFlex="33%"
                        style="padding-left: 5px; padding-right:5px;">
                        <app-edition-card-item [edition]="item"></app-edition-card-item>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>