<!-- <app-cardlist>
</app-cardlist> -->

<div *ngIf="homeModel != null">
    <div>
        <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto"
            proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
            [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of homeModel.banners; let i = index"
                [image]="slide.image" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
        </mat-carousel>
    </div>
    <div class="container">
        <div>
            <h1 class="title-destacados">Ediciones destacadas</h1>
            <div fxLayout="row wrap">
                <div *ngFor="let item of homeModel.last_editions">
                    <app-edition-card-item [edition]="item" [style.padding-top.px]="20"></app-edition-card-item>
                </div>
            </div>

            <div *ngFor="let el of homeModel.edition_by_category" class="edition-by-category">
                <h2 class="title-destacados">{{el.category.name}} </h2>


                <div fxLayout="row wrap">
                    <div *ngFor="let item of el.editions">
                        <app-edition-card-item [edition]="item"></app-edition-card-item>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>