<div class="footer-app" fxLayout="row" fxLayoutGap="12px">

    <div fxFlex="70%">
        <h2>Análisis semanal</h2>
        <p> Plaza Lagos, Edificio Mirador, oficina 2-1 Km. 6.5 Vía Puntilla - Samborondón</p>
        <p>PBX 04 5009343</p>
        <p>Celular 09 2226414</p>
        <p>E-mail: info@grupospurrier.com</p>
    </div>
    <div fxFlex="30%" class="redes">
        <h1>Redes sociales</h1>
        <a href="mailto:info@grupospurrier.com"><img src="assets/email.png" width="32px"></a>
        <a href="https://twitter.com/analisissemanal"><img src="assets/twitter.png" width="32px"></a>
        <a href="https://www.facebook.com/analisissemanal/?fref=ts"><img src="assets/facebook.png" width="32px"></a>
    </div>
</div>